* {
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./headerImg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero-textbox {
    color: #ffffff;
    padding: 5%;
    position: absolute;
    top: 30%;
    left: 30%;
}

.hero-textbox h1 {
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    transition: color 1s linear;
   }

.hero-textbox h4{
    font-family: 'Fira Code', monospace;
    font-weight: 100;
}

.hero-textbox h1:hover {
    color: #D91E18;
}
.section-main h2{
    font-family: 'Fira Code', monospace;
    color:#000;
    font-weight: 700;
    transition: color 1s linear;
}

.section-main h2:hover{
      color: #D91E18;
}
.section-main h3{
    font-family: 'Fira Code', monospace;
    color:#000000;
    font-weight: 400;
}

body {
    
    background-color:rgb(255, 255, 255);
}
.section-class {
   text-align: right;

}

.row {
    width: 100%;
    height: 50vh;
}

.profileImage{
    margin-top: 25px;
    float: left;
    padding: 25px;
    width: 15%;
    
}
img {
    width: 100%;
    float: left;
    border-radius: 50%;
}
.grid-item{
    height: 100%;
    margin-top: 25px;
    padding: 5px;
    width: 80%;
    float: right;
    text-align: justify;
}

.grid-item h2 {
    letter-spacing: 0.1em;
}

.grid-item h3 {
    letter-spacing: 0.15em;
}
.section-secondary{
    height: 30vh;
    letter-spacing:0.5em;

}

.icon {
    font-size: 300%;
    float: left;
}

.secondary-hero{
    float: left;
    width: 80%;
    
}

.secondary-icons {
    margin-top: 6px;
    width: 20%;
    float: right;
}
.secondary-hero p{
    margin-top: 12px;
    font-size: 170%;
    color: #000;
    font-family: 'Fira Code',monospace;
    transition: color 1s linear;
    
    
}


.row2 p:hover{
    color: #D91E18;
}

.row2 a {
    text-decoration: none;
    color: #000;
}

.row2 {
    width: 70%;
    height: 30%;
    margin-left: 20%;
    margin-top: 10%;
}